obj/*
bin/*
lua*/*
demacro.txt
dev*
*.a
Debug/
Release/
x64/
*.vcxproj
*.vcxproj.filters
*.tlog
*.lastbuildstate
*.idb
*.sln
*.gitattributes
.ninja*
*.ninja
*.config
*.creator
*.files
*.includes
*.pyc
main.cpp
*.user
*.3cb9f6a
docs/_*/*
